/* Root*/
body {
  margin: 0;
}
/* Format */
.padding-15 {
  padding: 15px;
}
.margin-10 {
  margin: 10px;
}
/* Section */
.section-background {
  background-color: #00a9ff;
}
.flex-section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.container {
  width: 800px;
}
/* Header */
#header {
  height: 500px;
}
.intro {
  text-align: center;
  align-self: center;
}
/* About */

/* Reponsive */

@media (max-width: 400px) {
  .flex-section-center {
    display: block;
    text-align: center;
  }
  .container {
    width: auto;
  }
}
