/* BEGIN: ROOT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;

  a {
    text-decoration: none;
  }
  .heading {
    padding: 5px 0 5px 0;
  }
}

/* END: ROOT */

/* HEADER - BEGIN */
.header-section {
  height: 150px;
  background-color: #aee2ff;
}
.nav > ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 15px;
}
.nav > ul > li {
  flex-basis: 100px;
  padding: 8px 0;
  background-color: #93c6e7;
  border: 1px solid white;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  list-style: none;
  text-decoration: none;
}
.search {
  background-color: white;
  width: 100px;
  border-radius: 10px;
}
/* HEADER - END */

/* PROFILE - BEGIN */
.profile-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #b9f3fc;
}
.profile-img {
  width: 30%;
  padding: 10px;
  text-align: center;
}
.profile-des {
  width: 70%;
  padding: 10px;
  text-align: justify;
}

/* REPONSIVE */

@media (max-width: 300px) {
  .nav > ul,
  .nav ul li,
  .profile-section {
    display: block;
  }
  .profile-section {
    margin-top: 20px;
  }

  .profile-img,
  .profile-des {
    width: 100%;
  }
}
