/* Root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#portfolio-page {
  background-color: #aee2ff;
}

/* Heading  */
h2 {
  margin: 5px;
}

/* Paragraph */
p {
  margin: 5px;
  line-height: 1.3;
}

a {
  margin: 5px;
}
li {
  margin: 5px;
  line-height: 1.3;
}

/* profile */

.profile-img {
}

/* Text Box */
span {
  margin: 10px 0;
  padding: 5px;
  background-color: #93c6e7;
  border-radius: 5px;
}
