/* Root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html */
html {
  font-family: "Caveat", cursive;
  font-size: 1.2rem;
}

/* Section */

.profile-section {
  background-color: #d2e0fb;
  border: 5px solid #8eaccd;
  margin: 10px;
  border-radius: 5px;
}

.column-section {
  width: 150px;
  float: left;
  background-color: #d2e0fb;
  border: 5px solid #8eaccd;
  margin: 10px;
  border-radius: 5px;
}
.column-section:after {
  content: "";
  display: table;
  clear: both;
}
/* Inline Section */

.two-section {
  display: inline-block;
}

/* Section profile and name */

#profile-name-img h2 {
  text-transform: uppercase;
}

/* Section text */
.profile-section h2,
.column-section h2,
p {
  padding: 5px 0 0 10px;
}

.section-list {
  padding: 0 0 5px 30px;
}

.profile-section li {
  /* padding-left: 20px; */
}

#profile-name-img {
  text-align: center;
}

/* Footer */
footer {
  margin-top: 10px;
  text-align: center;
}
